


h3 {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
     }

address {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
            
        }
.start {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;

    }    
.text {
    font-family: 'Bad Script', cursive;
    font-size: 16px;
    text-indent: 0.7cm;
    
}
.appeal {
    font-family: 'Inspiration', cursive;
    font-size: 19px;
    text-indent: 0.7cm;
    text-decoration: underline;
}